.App {
  min-height: 100vh;
  text-align: center;
  padding-top: 10%;
  background-color: black;
  color: white;
}

h1 {
  margin: 0 0 50px 0;
}

.drum-machine {
  border: solid black 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
