.single-pad {
  width: 100px;
  height: 100px;
  background: linear-gradient(to right, #6c6e70, #707070);
  margin: 5px;
  display: flex;
  padding: 3px;
  border-radius: 5px;
}

.pad-active {
  background: rgb(243, 243, 252);
}